* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Arial';
  font-size: 14px;
}

*:focus {
  outline: 0;
}

html {
  height: 100%;
  font-size: 62.5%;

  /*Iniciando o background*/
  --bg: #f2f2f2;
  --color-headings: #e4bb23;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
}

body,
input,
button {
  font: 14px 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  cursor: pointer;
  
}

button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 560px;
  background: url(./img/background3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

}

header:after {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 212, 255, 0) 75%);
      content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.header-nav {
  margin-top: 25px;
  padding: 15px 60px 5px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
}


.logo {
  width: 350px;
  height: 120px;
   
}


.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav-item {
  font-size: 14px;
  color: #e4bb23;
  text-transform: uppercase;
  transition: color .2s ease-in;
}

.nav-item:hover {
  color: #1606a7;
}



/* MAIN */

.main-nav {
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  align-items: center;
  padding: 10px;
  justify-content: center;

}

.main-search {
  padding: 10px;
 
}

.input{
  width: 300px;
  height: 30px;

}

.button{
  width: 50px;
  height: 30px;
    
}

.main-options {
  display: flex;
  height: 30px;
  width: 60px;
}



/* CARD */

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 980px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;

}



.card-lista {
  width: 200px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  background: linear-gradient(110deg, rgb(243, 241, 236) 0%, rgb(249, 248, 252) 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;

}

.card-lista:hover{
  background: rgb(252, 215, 66);
  
}


.card-lista .img {
  background-color: rgba(#000000, 0.7);
  padding: 1em 2em 0;
  border-radius: 3px 3px 0 0;
}




/* FOOTER*/

footer {
  width: 100%;
  height: 120px;
  background-color: #356abc;
  display: flex;
  justify-content: center;

}

.footer-container {
  width: 100rem;
  max-width: 120rem;
  height: 100px;
  display: flex;
  justify-content: center;

}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

}

/* @MEDIA */

@media (max-width: 1045px) {

  html,
  body,
  #root {
    font-size: 55%;
  }
}

@media (max-width: 910px) {

  html,
  body,
  #root {
    font-size: 50%;
  }


  .header-info {
    width: 40%;
  }
}

@media (max-width: 830px) {

  html,
  body,
  #root {
    font-size: 45%;
  }

  .main-links {
    width: 90%;
  }

  .main-link-item {
    font-size: 14px;
  }
}

@media (max-width: 750px) {

  html,
  body,
  #root {
    font-size: 40%;
  }


  .nav-links {
    visibility: hidden;
  }

  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-categories {
    margin-top: -30px;
  }

}

@media (max-width: 660px) {

  html,
  body,
  #root {
    font-size: 35%;
  }

  .container {
    width: 97%;
  }
}

@media (max-width: 580px) {

  html,
  body,
  #root {
    font-size: 30%;
  }

  .header-info {
    width: 50%;
  }

  .header-categories {
    margin-top: -20px;
  }

  .main-links {
    width: 100%;
  }
}

@media (max-width: 510px) {
  #user-name {
    visibility: hidden;
    display: none;
  }

  #user-image {
    height: 60px;
    width: 60px;
  }

  .container {
    width: 90%;
  }

  .main-nav {
    display: none;
    visibility: hidden;
  }

  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-item {
    width: 90%;
    margin: 0 auto;
  }

  .card-title {
    font-size: 20px;
  }

  .item-wrapper {
    height: 120px;
  }

  .card-category {
    color: #e4bb23;
    font-size: 18px;
  }

}

@media (max-width: 480px) {

  html,
  body,
  #root {
    font-size: 25%;
  }

  .header-info {
    width: 60%;
  }

  .header-categories {
    margin-top: 0;
  }
}

@media(max-width: 400px) {

  html,
  body,
  #root {
    font-size: 22%;
  }

  .header-info {
    width: 70%;
  }
}

@media (max-width: 360px) {

  html,
  body,
  #root {
    font-size: 20%;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */

  header {
    background-attachment: scroll;
  }
}




/* Inicio Modal */

.modal-container {
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  align-content: center;
  justify-content: center;
  z-index: 2000;
 
}

.modal-container.mostrar {
  display: flex;
 
}

.modal{
  background: linear-gradient(110deg, rgb(243, 241, 236) 0%, rgb(249, 248, 252) 100%);
  width: 60%;
  height: 40%;
  min-width: 300px;
  padding: 40px;
  border: 5px solid #e4bb23;
  box-shadow: 0 0 0 10px white;
  font-style:  black;
  border-radius: 15px;
  position: relative;
  margin-top: 100px;
}

  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);

    }
    to {

      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
 
.mostrar .modal {
  animation: modal .3s;
}

/*
.fechar{
  position:absolute;
  top: 0px;
  right: 0px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  font-family: Arial;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
*/